.index-nav {
    background-color: #333; /* A nice shade of blue */
    overflow: hidden;
}
.index-nav body {
    background-color: #333; /* Dark grey background */
    color: white; /* Light text color for contrast */
    font-family: Arial, sans-serif; /* Optional: Change the font */
}
.index-nav nav {
    justify-content: start;
    width: 800vw; /* Twice the viewport width */
    height: 60vh;
    display: flex;

    align-items: flex-start; /* Align items to the start of the nav container */
    padding: 20px;
    background-color: #333; /* Dark grey background for the nav bar */
}

.index-nav nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin */
}

.index-nav nav ul li {
    margin: 10px 0; /* Add some space between list items */
}

.index-nav nav ul li a {
    display: block; /* Make the link fill the li for larger click area */
    padding: 6vh 80px; /* Increase padding vertically to fill the increased nav height */
    background-color: #333; /* Initial background color */
    color: white; /* Text color */
    text-decoration: none; /* Remove underline from links */
    transition: background-color 0.3s; /* Smooth transition for background color */
    front-size: 64px;
}

.index-nav nav ul li a:hover {
    background-color: white; /* Change background color on hover */
    color: #333; /* Change text color on hover for better contrast */
}

.top-right-button {
    position: absolute;
    right: 10px; /* Adjust based on desired spacing from the right edge */
    top: 10px; /* Adjust based on desired spacing from the top */
    /* Additional button styling */
    padding: 10px 20px;
    background-color: #333; /* Example button color */
    color: white;
    border: none;
    cursor: pointer;
}

.top-right-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.support-link {
    float: right;
    margin-right: 20px;
    background-color: #555; /* Slightly lighter grey for the button */
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px; /* Optional: Rounded corners for the button */
}
.support-link:hover {
    background-color: #777; /* Change color on hover for visual feedback */
}
#tornadoPlot {
    width: 100%; /* Use full width of the container */
    margin-left: 0; /* Align left edge with the page */
}
.killer_tornadoes nav {
    display: flex;
    justify-content: start; /* Align items to the start horizontally */
    align-items: center; /* Center items vertically within the nav */
    padding: 10px 20px;
    background-color: #333; /* Dark grey background for the nav bar */
}

.killer_tornadoes nav ul li:nth-child(2) {
    margin-right: 700px; /* Assuming the original gap was 20px, 10 times larger would be 200px */
}

.killer_tornadoes nav ul {
    list-style-type: none;
    display: flex; /* Make the list horizontal */
    padding: 0;
    margin: 0;
}

.killer_tornadoes nav ul li {
    margin-right: 20px; /* Add some space between list items */
}

.killer_tornadoes nav ul li a {
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.killer_tornadoes nav ul li a:hover {
    background-color: white; /* Change background color on hover */
    color: #333; /* Change text color on hover for better contrast */
    padding: 10px; /* Add padding to increase the size on hover */
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    width: 100%;
    height: 5%;
    opacity: 0.5; /* Adjust opacity to ensure text readability */
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
}

.hero p {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
}

/* Style for the modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

/* Style for the modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styling the Support button */
.top-right-button {
    /* Add your styles here (e.g., positioning, colors) */
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.nav-container {
    display: flex;
    justify-content: space-around; /* Adjust the space between columns */
}

.nav-column a {
    display: block; /* Make links take up the full width of the container */
    margin-bottom: 100px; /* Space between links */
    font-size: 1.5em;
}

/* Additional styling for aesthetics */
.nav-column a:link, .nav-column a:visited {
    color: white; /* Link color */
    margin-bottom: 100px;
    text-decoration: none; /* No underline */
    padding: 10px; /* Padding around links */
    border: 1px solid white; /* Border around links */
    border-radius: 5px; /* Rounded corners */
}

.nav-column a:hover, .nav-column a:active {
    background-color: white; /* Background color on hover/active */
    color: white; /* Text color on hover/active */
}

#start {
    color: white;
    margin-bottom: 50px;
}
