<!DOCTYPE html>
<html>
<head>
    <title>Visualization - Tornado Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body class="killer_tornadoes">
    <nav>
        <ul>
            <li><a href="/navigation">Explore Tornadoes from Other Years</a></li>
            <li><a href="/05-07_torn">Refresh</a></li>
            <li><a href="/">Return to Home</a></li>
        </ul>
    </nav>
    <div id="tornadoPlot" style="width: 100%; height: 100vh;"></div>
    <script>
    const graphData = JSON.parse('{{ graphJSON | safe }}');
    Plotly.newPlot('tornadoPlot', graphData.data, graphData.layout);
    </script>
</body>
</html>

