<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Tornado Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="index-nav">
    <h1>
        Welcome To Tornado Hunters' Website
    </h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/navigation">See killer Tornadoes Record</a></li>
        </ul>
        <a href="/support">Support</a>
    </nav>

<div id="tornadoPlot"></div>

<script>
fetch('/tornado_data')
    .then(response => response.json())
    .then(data => {
        Plotly.newPlot('tornadoPlot', data.data, data.layout);
    });
</script>

</body>
</html>
