<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Tornado Tracker</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/visualization">Visualization</a></li>
        </ul>
    </nav>
    <h1>
        Welcome To Tornado Hunters' Website
    </h1>

<div id="tornadoPlot"></div>

<script>
fetch('/tornado_data')
    .then(response => response.json())
    .then(data => {
        Plotly.newPlot('tornadoPlot', data.data, data.layout);
    });
</script>

</body>
</html>
