<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigation Page - Tornado Tracker</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="index-nav">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Killer Tornadoes 1950 - 1959">Killer Tornadoes 1950 - 1959</a></li>
            <li><a href="/Killer Tornadoes 1960 - 1969">Killer Tornadoes 1960 - 1969</a></li>
            <li><a href="/Killer Tornadoes 1970 - 1979">Killer Tornadoes 1970 - 1979</a></li>
            <li><a href="/Killer Tornadoes 1980 - 1989">Killer Tornadoes 1980 - 1989</a></li>
            <li><a href="/Killer Tornadoes 1990 - 1999">Killer Tornadoes 1990 - 1999</a></li>
            <li><a href="/Killer Tornadoes 2000 - 2004">Killer Tornadoes 2000 - 2004</a></li>
            <li><a href="/Killer Tornadoes 2005 - 2007">Killer Tornadoes 2005 - 2007</a></li>
            <li><a href="/navigation">Refresh</a></li> <!-- The current page -->
        </ul>
    </nav>
</body>
</html>